@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* fix @consta tab icon click */
.ListItemGrid-Slot_position_left, .ListItemGrid-Slot_position_right {
  position: relative;
  z-index: 1;
}

/* fix @consta modal */
.Modal {
  z-index: 1;
}

.Modal-Window {
  min-height: initial;
}

/* fix @consta select */
.Popover {
  z-index: 1;
}